
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
/*--header--*/

/*--//header--*/

/*--main--*/

.subr-main-w3 input[type="text"],
.subr-main-w3 input[type="password"] {
    outline: none;
    font-size: .9em;
    padding: 1em 8em 1em 1em;
    border: none;
    margin-bottom: 1.3em;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.subr-main-w3 {
    width: 90%;
    margin: 1em auto 12em;
}


.pomr-agile {
    position: relative;
}


span.re-icon1,
span.re-icon2 {
    color: #fb4226;
    font-size: 1.1em;
    position: absolute;
    right: -4%;
}

span.re-icon1,span.re-icon2 {
    top: 21%;
}

.subr-main-w3 input[type="submit"] {
    margin-top: 1rem;
    color: white;
    background: #fb4226;
    border: none;
    padding: .7em 0;
    outline: none;
    width: 44%;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 30px;
}

.subr-main-w3 input[type="submit"]:hover {
    background: #fff;
    color: black;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*--//main--*/

/*--footer--*/
.footer p {
    font-size: .9em;
    color: white;
    letter-spacing: 2px;
}

.footer p a {
    color: #fff;
}

.footer p a:hover {
    color: #ea2858;
}

/*--//footer--*/

/*--responsive--*/

@media(max-width: 1680px) {}

@media(max-width: 1600px) {}

@media(max-width: 1440px) {
    .footer {
        padding-bottom: 3em;
    }

    .sub-main-w3 {
        width: 100%;
        margin: 2em auto 9em;
    }

    .sub-w3l h6 a:hover {
        transition: 1s all;
    }
}

@media(max-width: 1366px) {}

@media(max-width: 1280px) {}

@media(max-width: 1080px) {
    .sub-main-w3 {
        width: 35%;
    }
}

@media(max-width: 1050px) {}

@media(max-width: 1024px) {
    .sub-main-w3 {
        width: 38%;
    }
}

@media(max-width: 991px) {}

@media(max-width: 900px) {
    .header-w3l {
        padding-top: 1.5em;
    }

    .sub-main-w3 {
        width: 42%;
        margin: 6em auto 8em;
    }

    .footer {
        padding-bottom: 2.5em;
    }
}

@media(max-width: 800px) {
    .header-w3l h1 {
        font-size: 2.7em;
        letter-spacing: 7px;
    }
}

@media(max-width: 768px) {
    .header-w3l {
        padding-top: 4.5em;
    }

    .sub-main-w3 {
        width: 30%;
        margin: 3em auto 16em;
    }

    .sub-main-w3 input[type="text"],
    .sub-main-w3 input[type="password"] {
        margin-left: -6rem;
    }

    span.icon1,
    span.icon2 {
        top: 22%;
        left: 180%;
    }

    .register a {
        margin-left: -98%;
    }

    .forgotpass a {
        margin-right: -123%;
    }

    .sub-main-w3 input[type="submit"] {
        margin-top: 2rem;
        width: 130%;
    }

    .signin--wrapper {
        max-height: 550px;
    }
}

@media(max-width: 736px) {
    .header-w3l {
        padding-top: 1.5em;
    }

    .sub-main-w3 {
        margin: 5em auto 6.5em;
    }
}

@media(max-width: 667px) {
    .footer {
        padding-bottom: 2em;
    }
}

@media(max-width: 640px) {}

@media(max-width: 600px) {

    .sub-main-w3 input[type="text"],
    .sub-main-w3 input[type="password"] {
        padding: .9em 3em .9em 1em;

    }

    .sub-main-w3 input[type="submit"] {
        font-size: .95em;
    }

    .footer p {
        letter-spacing: 1px;
    }

    .right-w3l {
        margin-top: 1em;
    }

    .header-w3l h1 {
        font-size: 2.5em;
        letter-spacing: 5px;
    }

    .wthree-pro h2 {
        font-size: 1em;
    }

    .sub-main-w3 {
        margin: 6em auto 8em;
        width: 54%;
    }
}

@media(max-width: 568px) {
    .sub-main-w3 {
        width: 56%;
    }
}

@media(max-width: 480px) {
    .header-w3l h1 {
        font-size: 2.3em;
        letter-spacing: 4px;
    }

    .sub-main-w3 {
        width: 69%;
        margin: 6em auto 6.3em;
    }

    .footer p {
        line-height: 1.9;
    }
}

@media(max-width: 440px) {
    .sub-main-w3 {
        width: 72%;
    }
}

@media(max-width: 411px) {
    .signin--wrapper {
        max-height: 500px;
    }

    .sub-main-w3 input[type="text"],
    .sub-main-w3 input[type="password"] {
        font-size: .85em;
        margin-left: .1rem;
    }

    .sub-w3l h6 a {
        font-size: .8em;
    }

    .header-w3l h1 {
        font-size: 2.1em;
    }

    .sub-main-w3 {
        margin: 3em auto 9.3em;
    }

    .sub-main-w3 input[type="submit"] {
        width: 50%;
        margin-top: 1rem;
    }

    .register a {
        margin-left: 1px;
    }

    .forgotpass a {
        margin-right: -20px;
    }

    span.icon1,
    span.icon2 {
        left: 97%;
    }
}

@media(max-width: 384px) {

    /* .signin--wrapper{
        max-height: 550px;
    } */
    .sub-main-w3 input[type="text"],
    .sub-main-w3 input[type="password"] {
        font-size: .8em;
    }

    .header-w3l h1 {
        font-size: 2em;
    }

    .sub-main-w3 input[type="submit"] {
        font-size: .9em;
        margin-top: 1.2rem;
    }

    .wthree-pro h2 {
        margin-bottom: 1.2em;
    }

    .sub-main-w3 {
        margin: 3em auto 7.5em;
        width: 74%;
    }

    span.icon1 {
        top: 18%;
    }

    span.icon2 {
        top: 20%;
    }
}

@media(max-width: 375px) {}

@media(max-width: 320px) {
    .header-w3l h1 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }

    .wthree-pro h2 {
        font-size: .9em;
        letter-spacing: 2px;
    }

    .sub-main-w3 input[type="submit"] {
        font-size: .8em;
    }

    .footer p {
        font-size: .8em;
    }

    .sub-main-w3 {
        margin: 4.2em auto 4.5em;
        width: 81%;
    }

    .sub-main-w3 input[type="text"],
    .sub-main-w3 input[type="password"] {
        width: 80%;
    }
}

/*--//responsive--*/