#homeMovies {
    padding-top: 75px;
}

.mainMaxWidth {
    max-width: 940px;
    float: none;
    margin: auto;
    clear: both;
}

.nav-tabs {
    justify-content: center;
    border: none;
    margin-bottom: 30px;
   
}

.nav-tabs .nav-link.active {
    font-size: 24px;
    color: #fa5238;
    background-color: #fff;
    border: none;
}

.nav-tabs .nav-link:hover{
    border: none;
    
}

.nav-tabs .nav-link {
    border: none;
    color: #000;
}