#homeTools{
        display: block;
        max-width: 940px;
        margin: auto;
        height: 80px;
        position: absolute;
        /* bottom: 0; */
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        z-index: 2;
}

#homeTools .widthByPercent:after {
    content: '';
    position: absolute;
    right: 0;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid #fff;
    border-right-color: rgba(238, 238, 238, .88);
}

.w30p {
    width: 30%;
}

.widthByPercent{
    float: left;
    position: relative;
    height: 100%;
}

.selectMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    padding: 7%;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

.smallBlock {
    width: calc(70% / 4);
}

#btnBuy {
    background-color: #4a4a4a;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 25px;
}

